@section head {
    <link href="~/Content/imageviewer.css" rel="stylesheet" />
    <script src="~/Scripts/imageviewer.min.js"></script>
}

<div id="wizard" style="position: relative;" class="page-content">

    <div id="wizard_step">
        @Html.Raw(ViewBag.DefaultView)
    </div>

    <div id="loading" class="wizard-loading" style="display: none;">
        <div class="loader-bg"></div>
        <div id="loader" class="loader"></div>
    </div>

</div>

<script>
    function onBegin() {
        var wizardHeight = $('#wizard').height();
        var wizardWidth = $('#wizard').width();
        var loaderHeight = $('#loader').height();
        var loaderWidth = $('#loader').width();
        var top = wizardHeight / 2 - loaderHeight / 2;
        var left = wizardWidth / 2 - loaderWidth / 2;
        $('#loader').css('top', top).css('left', left);
    }
</script>