<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="updatesBaseUrl" value="https://samsys.ir/samupdates/" />
    <add key="clientFolderPath" value="D:\TeamProjects\Git\SamGitProject\SamPresentationLayer\SamClient\bin\Debug\" />
    <add key="syncAgentFolderPath" value="D:\TeamProjects\Git\SamGitProject\SamPresentationLayer\SamSyncAgent\bin\Debug\" />
    <add key="kioskFolderPath" value="D:\TeamProjects\Git\SamGitProject\SamPresentationLayer\SamKiosk\bin\Debug\" />
    <add key="desktopFolderPath" value="D:\TeamProjects\Git\SamGitProject\SamPresentationLayer\SamDesktop\bin\Debug\" />
    <add key="localUpdateCode" value="9" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="SamClientConnection" connectionString="data source=(local);Initial Catalog=SamClientDb;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>