@model Exception

@if (Model is SamUtils.Objects.Exceptions.ValidationException)
{
    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>@Model.Message</strong>
    </div>
}
@*@if (Model is SamUtils.Objects.Exceptions.HttpException)
{
    var httpException = (SamUtils.Objects.Exceptions.HttpException)Model;
    <div class="alert alert-warning">
        <strong>@httpException.Response.Content.ReadAsStringAsync().Result</strong>
    </div>
}*@
else
{
    var message = (Model.InnerException != null ? Model.InnerException.Message : Model.Message);

    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>@Messages.SomthingWrongHappend</strong>
    </div>
}