<div class="page-content">

    <h2 class="step-title">
        @Strings.AboutUs
    </h2>

    <hr />

    <div class="page-content">
        <p>
            در راستای بهره گیری از فناوری اطلاعات در حوزه های دینی، فرهنگی و اجتماعی با هدف کمک به یاری به حفظ و ارتقاء کیفیت مدیریت مساجد و جلوگیری از اتلاف هزینه های هنگفت برای چاپ و نصب بنر های و اعلامیه های تسلیت در مجالس ترحیم، کمک به محیط زیست از طریق کاهش مصرف بنرهای پلاستیکی و نیز کمک به هزینه های مالی مساجد، سیستم اطلاع رسانی مساجد «سام» ابداع ، طراحی و راه اندازی شده است. در این سیستم ، یک شبکه الکترونیکی بهم پیوسته از نمایشگر های بزرگ متصل به هم که توسط نرم افزار های هوشمند مدیریت می گردند ، اعلامیه های تسلیت شهروندان و برنامه های ویژه مراسمات را به آسانی و با کیفیت مناسب به نمایش در آورده و به این ترتیب بنرهای لاستیکی، پلاکاردها و ... از مساجد جمع آوری می شوند.
        </p>

        <p>
            شهروندان می توانند به آسانی از دو طریق وبسایت سیستم و یا اپلیکیشن موبایل نسبت به انتخاب مجلس ترحیم مورد نظر خود اقدام و آگهی مورد نظر خود را از بین چندین الگوی موجود بر گزیده و ارسال نمایند تا بر روی نمایشگرهای مسجد به نمایش در آید.
        </p>
    </div>


</div>