<div class="page-content">

    <h2 class="step-title">
        @Strings.DownloadApp
    </h2>

    <hr />

    <p class="text-muted">
        @Messages.DownloadAppDesc
    </p>

    <a class="download-link" href="@Url.Content("~/Content/Downloads/samapp.apk")" target="_blank">
        <span class="glyphicon glyphicon-download-alt"></span>
        @Strings.Download
    </a>
    

</div>