@Html.Partial("Partials/_HomeSlideshow")

<div class="row rtl-md">
    <div class="col-md-6">
        @Html.Frame(Strings.AboutSam, Strings.AboutSamExplanation)
    </div>
    <div class="col-md-6">
        @Html.Frame(Strings.LatestMosques, 
            (ViewBag.Mosques != null ? Html.Partial("Partials/_MosquesList", ViewBag.Mosques as List<SamModels.DTOs.MosqueDto>).ToString() : "")
            , true)
    </div>
</div>