<div class="page-content">

    <h4 class="step-title">
        @Strings.RulesPageTitle
    </h4>

    <hr />

    <div class="page-content">
        <p>
            کاربر گرامی لطفاً موارد زیر را جهت استفاده بهینه از خدمات ما به دقت ملاحظه فرمایید.
            ورود کاربران به وب‏‌سایت سامانه سام و ثبت سفارش در هر زمان به معنی پذیرفتن کامل کلیه شرایط و قوانین سامانه سام از سوی کاربر است.
            لازم به ذکر است شرایط و قوانین مندرج، جایگزین کلیه توافق‏‌های قبلی محسوب می‏‌شود.

        </p>

        <h4>
            قوانین عمومی:
        </h4>
        <p>
            توجه داشته باشید کلیه اصول و رویه‏‌های سامانه سام منطبق با قوانین جمهوری اسلامی ایران، قانون تجارت الکترونیک و قانون حمایت از حقوق مصرف کننده است و متعاقبا کاربر نیز موظف به رعایت قوانین مرتبط با کاربر است. در صورتی که در قوانین مندرج، رویه‏‌ها و خدمات سامانه سام تغییراتی در آینده ایجاد شود، در همین صفحه منتشر و به روز رسانی می شود و شما توافق می‏‌کنید که استفاده مستمر شما از سایت به معنی پذیرش هرگونه تغییر است.
        </p>

        <h4>
            تعریف مشتری یا کاربر:
        </h4>
        <p>
            مشتری یا کاربر به شخصی گفته می‌شود که با اطلاعات کاربری خود که در فرم ثبت نام درج کرده است، به ثبت سفارش یا هرگونه استفاده از خدمات سامانه سام اقدام نماید.
        </p>

        <h4>
            ارتباطات الکترونیکی:
        </h4>
        <p>
            هنگامی که شما از خدمات سامانه سام استفاده می‏‌کنید، سفارش اینترنتی خود را ثبت یا خرید می‏‌کنید و یا به سامانه سام ایمیل می‏‌زنید، این ارتباطات به صورت الکترونیکی انجام می‏‌شود و در صورتی که درخواست شما با رعایت کلیه اصول و رویه‏‌ها باشد، شما موافقت می‌‏کنید که سامانه سام به صورت الکترونیکی (از طریق پست الکترونیکی، سرویس پیام کوتاه )به درخواست شما پاسخ دهد.
            همچنین جهت اطلاع رسانی رویدادها، خدمات و یا پروموشن‌ها، امکان دارد سامانه سام برای اعضای وب سایت ایمیل یا پیامک ارسال نماید. در صورتی که کاربران تمایل به دریافت اینگونه ایمیل و پیامک‌ها نداشته باشند، می‌توانند عضویت دریافت خبرنامه سامانه سام را در پروفایل خود لغو کنند.
            توجه داشته باشید که 30004005000070 تنها شماره‌ای  است که سامانه سام از طریق آن برای کاربران و مشتریان خود پیامک (اس ام اس) ارسال می‌کند. بنابراین ارسال هرگونه پیامک تحت عنوان سامانه سام، با هر شماره دیگری تخلف و سوء استفاده از نام سامانه سام است و در صورت دریافت چنین پیامکی، لطفاً جهت پیگیری قانونی آن را به  Info@samsys.ir اطلاع دهید. همچنین 30004005000070 سامانه ارسال پیامک است که وضعیت پردازش سفارش سامانه سام را به اطلاع کاربران می‌رساند و روشن است که امکان دریافت پیام‌های شما از طریق این شماره وجود ندارد.

        </p>

        <h4>
            سیاست‏‌های رعایت حریم شخصی:
        </h4>
        <p>
            سامانه سام به اطلاعات خصوصی اشخاصى که از خدمات سایت استفاده می‏‌کنند، احترام گذاشته و از آن محافظت می‏‌کند.
            سامانه سام متعهد می‏‌شود در حد توان از حریم شخصی شما دفاع کند و در این راستا، تکنولوژی مورد نیاز برای هرچه مطمئن‏‌تر و امن‏‌تر شدن استفاده شما از سایت را، توسعه دهد. در واقع با استفاده از سایت سامانه سام ، شما رضایت خود را از این سیاست نشان می‏‌دهید.
            همه مطالب در دسترس از طریق هر یک از خدمات سامانه سام ، مانند لوگو، علائم تجاری، متن، توضیحات، گرافیک، آرم، تصاویر و کپی، داده‌ها و کلیه محتوای تولید شده توسط سامانه سام جزئی از اموال سامانه سام محسوب می‏‌شود و حق استفاده و نشر تمامی مطالب موجود و در دسترس در انحصار سامانه سام است و هرگونه استفاده بدون کسب مجوز کتبی، حق پیگرد قانونی را برای سامانه سام محفوظ می‏‌دارد.

        </p>


        <h4>
            ثبت، پردازش و ارسال سفارش:
        </h4>
        <p>
            روز کاری به معنی روز شنبه تا پنج شنبه هر هفته، به استثنای تعطیلات عمومی در ایران است و کلیه سفارش‏‌های ثبت شده در طول روزهای کاری و اولین روز پس از تعطیلات پردازش می‌‏شوند.
            سامانه سام به مشتریان خود در 7 روز هفته و 24 ساعت در روز امکان ثبت سفارش می‌‏دهد ولیکن  از ساعت 10 صبح الی 18 بعد از ظهر روزهای کاری ، امکان پاسخگویی و پیگیری و ارسال سفارشات میباشد.
            کلیه سفارش‌‏های ثبت شده در سایت سامانه سام به وسیله ارسال کد سفارش از طریق پیام کوتاه و پیش فاکتور از طریق ایمیل،  در صف پردازش قرار می‏‌گیرند سامانه سام همواره در ارسال و تحویل کلیه سفارش‌‏های ثبت شده، نهایت دقت و تلاش خود را می‏‌نماید. با وجود این، در صورتی که موجودی محصولی در سامانه سام به پایان برسد، حتی پس از اقدام مشتری به سفارش‌‏گذاری، حق کنسل کردن آن سفارش و یا استرداد وجه سفارش برای سامانه سام محفوظ است و یا مشتری می‏‌تواند به جای کالای به اتمام رسیده،  محصول دیگری را جایگزین کند.
            سامانه سام مجاز است بدون اطلاع قبلی نسبت به توقف سفارش‌‏گیری جدید، اقدام و فروش خود را متوقف کند و کلیه سفارش‌‏های ثبت شده قبل از توقف سفارش‌‏گیری، پردازش و ارسال می‌‏شود. حق قطع فروش کلیه و یا بخشی از محصولات به هر دلیلی مانند اتمام موجودی کالا بدون اطلاع قبلی، برای سامانه سام محفوظ است.

        </p>

    </div>


</div>