@model Exception

<div class="page-content">

    <h2 class="step-title">
        @Strings.CustomErrorTitle
    </h2>

    <hr />

    <div class="alert">
        <strong class="text text-danger">@Messages.CustomErrorMessage</strong>
    </div>

</div>